{% load humanize %}
{% load static from staticfiles %}

 	 <div class="row">


{% for post in post_list %}
	</a>
  <div class="col s12 m4">
   <div class="card">
 <div class="card-image">
             <img src="{{ post.image.url }}" height="270">
        <h5>
           
			 {{ post.title }} </a>
        </h5>
         
        
 </div>
<div class="card-content">
            <p> {{ post.description|slice:"100" }}</p> 
</div>
 <div class="card-action">
  <div class="col s5">
 <a href="{% url 'account:view_profile_with_pk' pk=post.user.pk %}">
                {{ post.user }} 
            </a>
 </div>


          <div class="col s7">
            
          <time class="time"><a href="{%url 'posts:detail' post.pk  %}">{{ post.publish }}</a></time>
        </div> 
         </div> 
</div>
{% if forloop.counter|divisibleby:3 and not forloop.last %}
        </div><br><div class="row">
      {% endif %}
    
  {% endfor %}

</div>
{% endfor %}

</div>
</div></div>


