{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title> {% block title %} {% endblock %} </title>

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{% static 'css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>

</head>
<body> 

	  <nav class="light-blue lighten-1" role="navigation">

    <div class="row">
     <div class="col s3">
    <div class="nav-wrapper container"><a id="logo-container" href="{% url 'posts:all' %}" class="brand-logo">My App</a>
      </div>
    </div>
       <div class="col s3">
         {% include "search_form.html" %} 
    
       </div>
       <div class="col s6">
      <ul class="right hide-on-med-and-down">
       {% if user.is_authenticated %}
        
      <li> <a href="{% url 'account:profile' user.username %}">{{ user.profile.get_screen_name }} </a> </li>
          <li><a href="{% url 'logout' %}"> Logout </a></li>    
          <li><a href="{% url 'posts:post_create' %}"> Create Post </a></li>          
       {% else %}
          <li> <a href="{% url 'login' %}">Log in </a></li>
           <li> <a href="{% url 'signup' %}">Sign Up </a></li>
         
          
          
       {% endif %}
      </ul>

      <ul id="nav-mobile" class="side-nav">
       {% if user.is_authenticated %}
          <li><a href="#">:{{user}}</a></li>

     
          <li><a href="{% url 'logout' }"> Logout </a></li>
          
       {% else %}
           <li> <a href="{% url 'login' %}">Log in </a></li>
            <li> <a href="signup">Sign Up </a></li>
       {% endif %}
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </li>
</ul>
</div>
       <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </li>
</ul>
</div>
  </nav>
 




<div class="posts-page">
	<div class="container">
		<div class="row">
		
			{% block content %}
      {% endblock %}

			
		</div>
	</div>
</div>

 {% block footer %}
<footer class="light-blue lighten-1" role="navigation">
<div class="footer-copyright">
      <div class="container">
        <div class="row center">
      Made by <span class="#f57f17 yellow darken-4">   Tanveer Ahmed  </span>
      <p>  <a href="https://github.com/tanveerahmad1517/"> GitHub: </a> </p>
      <p>  <a href="https://www.facebook.com/tanveerahmadst"> Facebook: </a> </p>
      </div>
    </div>
  </div>
</footer>
{% endblock footer %}
    <script src="{% static 'bootstrap/js/popper.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
     <!--  Scripts-->
  <script src="{% static 'js/jquery.js' %}"></script>
  <script src="{% static 'js/materialize.js' %}"></script>
  <script src="{% static 'js/init.js' %}"></script>
   <script src="{% static 'js/drop.js' %}"></script>
    <script src="{% static 'js/dropdown.js' %}"></script>
     <script src="{% static 'js/forms.js' %}"></script>
         <script src="{% static 'js/waves.js' %}"></script>
    {% block javascript %}{% endblock %}
</body>
</html>